{
  "log": {
    "_recordingName": "validateInvocationUnauthorized",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "38f4c98601933dc5ddbcc6855f804d5f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/settings?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 86,
            "text": "{\"code\": 40103, \"message\": \"Invalid signature in request credentials\", \"stat\": \"FAIL\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 341,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
