{
  "log": {
    "_recordingName": "fetchSettings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "38e0fbbb70df0eeb4bfcd9aa009a4567",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/settings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1021,
            "text": "{\"response\":{\"android_min_version\":\"all\",\"blackberry_min_version\":\"all\",\"enrollment_module\":\"new\",\"fraud_email\":\"\",\"fraud_email_enabled\":true,\"helpdesk_bypass\":\"allow\",\"helpdesk_bypass_expiration\":0,\"helpdesk_message\":\"\",\"inactive_admin_expiration\":0,\"inactive_user_expiration\":0,\"instant_restore_enabled\":1,\"ios_min_version\":\"all\",\"language\":\"EN\",\"lockout_expire_duration\":null,\"lockout_threshold\":10,\"log_retention_days\":null,\"minimum_password_length\":12,\"mobile_analytics_disabled\":0,\"mobile_otp_enabled\":true,\"name\":\"LifeOmic\",\"password_requires_lower_alpha\":false,\"password_requires_numeric\":false,\"password_requires_special\":false,\"password_requires_upper_alpha\":false,\"push_enabled\":true,\"reactivation_integration_key\":null,\"reactivation_url\":\"\",\"req_fips_passcodes_android\":false,\"security_checkup_enabled\":1,\"sms_batch\":1,\"sms_enabled\":true,\"sms_expiration\":0,\"sms_message\":\"SMS passcodes\",\"sms_refresh\":0,\"telephony_warning_min\":0,\"timezone\":\"UTC\",\"user_telephony_cost_max\":20,\"windows_phone_min_version\":\"all\"},\"stat\":\"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"941b971238a4cdb7a9b0ccbf80af451ab03ffa17\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 415,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
