{
  "log": {
    "_recordingName": "users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "38f4c98601933dc5ddbcc6855f804d5f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/settings?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 987,
            "text": "[\"1f8b08000000000004037c53c172d4300cfd959d9c1966db2357860330d043e1ecd13adac4b3b66c2c9b6de8f4df91dc244dbb0bc758d27b4f4f2f8f5d464e9118bb0fbbc70e2947ef03523121f6d5eb6b4778eedeedba6386da1b0ce0bcbebe79324870f0d84ba9e48ad23fa24f3df2c91ca604cc3a03dec786f5a666f021b90cc54592b6fd76d802194612e2266de53f82e7572c0199616882559a23b0c5fd46037d707449b0d62b63be56e602e282b85362c6cd763702ee81863a937dfaae743eda53ace519084d5fd76da87abf6928a3408ed1ab5137baa98f83b014b15cb6373d4cead43c24ca5da8c1a87fe7987be3918632eae8ad8c8678705e3624f05371964def78398242cff558d246ff621c4168667da9c915cc7784bbcf647597952de3afea44ae91ab8949e0d308c2bd205cf6510d989dfd6f0f27b40e3442ffc6a9295de3ab3c5e592463bb744b8f71547078f6de9c701296d9ca575d35af11961dcdd1256e1edb2881153ffb1c9d1e6851c8686b76653276447baa5b3b350e1cd81ca0d87698f9fbe5775841a4eb22e73aba49eefdb7fb9ddada84e82db49ef1a899113d7ad4821ed318693267c8e468309292a5e602fe89d4eefaf3c7470568f17e99b191e5d7860719b8ddbfdf3f294581229fddddd7eee92f000000ffff\",\"0300d49fb93f0f040000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"cde2b81294e3f5c3ca0149e386188ba56202f8d0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 369,
      },
      {
        "_id": "60d98b30a752a0e1e823fabfb9a8604a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/admins?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 385,
            "text": "{\"metadata\": {\"next_offset\": 1, \"total_objects\": 2}, \"response\": [{\"admin_id\": \"DE5L076HW5D9M0LSGS35\", \"admin_units\": [], \"email\": \"austin.kelleher@jupiterone.dev\", \"hardtoken\": null, \"last_login\": 1645116159, \"name\": \"Austin Kelleher\", \"password_change_required\": false, \"phone\": \"+15859430080\", \"restricted_by_admin_units\": false, \"role\": \"Owner\", \"status\": \"Active\"}], \"stat\": \"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "\"0d2e06c359823203f0fbc822422b27d26113ab2c\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 800,
      },
      {
        "_id": "04ed7a9f226bcd8fac811dd1fad7b3b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "offset",
              "value": "1"
            }
          ],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/admins?limit=1&offset=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 379,
            "text": "{\"metadata\": {\"prev_offset\": 0, \"total_objects\": 2}, \"response\": [{\"admin_id\": \"DEUDTXS9EB88IQN84PY5\", \"admin_units\": [], \"email\": \"adam.pierson@jupiterone.com\", \"hardtoken\": null, \"last_login\": 1645136145, \"name\": \"Adam Pierson\", \"password_change_required\": false, \"phone\": \"+13165188211\", \"restricted_by_admin_units\": false, \"role\": \"Owner\", \"status\": \"Active\"}], \"stat\": \"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "\"726afdc28ccb37163576612d410305eef594f06f\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 314,
      },
      {
        "_id": "928069177fb73640237c2dda17a14ade",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/groups?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 239,
            "text": "{\"metadata\": {\"total_objects\": 1}, \"response\": [{\"desc\": \"test group\", \"group_id\": \"DGYM32D735SEKRC8X7S5\", \"mobile_otp_enabled\": false, \"name\": \"testJ1Group\", \"push_enabled\": false, \"sms_enabled\": false, \"status\": \"Bypass\"}], \"stat\": \"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "\"1f31217176322d48ae41c6972c394eb9656899c5\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 285,
      },
      {
        "_id": "62abb94557679fc2e3ff8e011e15b63c",
       [...]
