{
  "log": {
    "_recordingName": "users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "4c0c67cace8d62bc1c7c91b79b9c3128",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/settings?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 987,
            "text": "{\"response\":{\"enrollment_module\":\"new\",\"fraud_email\":\"\",\"fraud_email_enabled\":true,\"helpdesk_bypass\":\"allow\",\"helpdesk_bypass_expiration\":0,\"helpdesk_can_send_enroll_email\":false,\"helpdesk_message\":\"\",\"inactive_admin_expiration\":0,\"inactive_user_expiration\":0,\"instant_restore_enabled\":1,\"language\":\"EN\",\"lockout_expire_duration\":null,\"lockout_threshold\":10,\"log_retention_days\":null,\"minimum_password_length\":12,\"mobile_analytics_disabled\":0,\"mobile_otp_enabled\":false,\"name\":\"JupiterOne Inc\",\"password_requires_lower_alpha\":false,\"password_requires_numeric\":false,\"password_requires_special\":false,\"password_requires_upper_alpha\":false,\"push_enabled\":false,\"reactivation_integration_key\":null,\"reactivation_url\":\"\",\"req_fips_passcodes_android\":false,\"security_checkup_enabled\":1,\"sms_batch\":1,\"sms_enabled\":false,\"sms_expiration\":0,\"sms_message\":\"SMS passcodes\",\"sms_refresh\":0,\"telephony_warning_min\":0,\"timezone\":\"UTC\",\"user_telephony_cost_max\":20},\"stat\":\"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"cde2b81294e3f5c3ca0149e386188ba56202f8d0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 339,
      },
      {
        "_id": "cc46f40d60ef52095141cab1388c1602",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/admins?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 711,
            "text": "{\"metadata\":{\"total_objects\":2},\"response\":[{\"admin_id\":\"DE5L076HW5D9M0LSGS35\",\"admin_units\":[],\"email\":\"austin.kelleher@jupiterone.dev\",\"hardtoken\":null,\"last_login\":1645116159,\"name\":\"Austin Kelleher\",\"password_change_required\":false,\"phone\":\"+15555555555\",\"restricted_by_admin_units\":false,\"role\":\"Owner\",\"status\":\"Active\"},{\"admin_id\":\"DEUDTXS9EB88IQN84PY5\",\"admin_units\":[],\"email\":\"adam.pierson@jupiterone.com\",\"hardtoken\":null,\"last_login\":1645197320,\"name\":\"Adam Pierson\",\"password_change_required\":false,\"phone\":\"+15555555555\",\"restricted_by_admin_units\":false,\"role\":\"Owner\",\"status\":\"Active\"}],\"stat\":\"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"48c96b320b74acf835e8586413f0dc4466ef1455\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 331,
      },
      {
        "_id": "5fcd1246845c52c8918ee8a80741fb3b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/groups?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 239,
            "text": "{\"metadata\":{\"total_objects\":1},\"response\":[{\"desc\":\"test group\",\"group_id\":\"DGYM32D735SEKRC8X7S5\",\"mobile_otp_enabled\":false,\"name\":\"testJ1Group\",\"push_enabled\":false,\"sms_enabled\":false,\"status\":\"Bypass\"}],\"stat\":\"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "\"1f31217176322d48ae41c6972c394eb9656899c5\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 263,
      },
      {
        "_id": "b282fe2588d51ccba16b9231bb217fc5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/users?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1309,
            "text": "{\"metadata\":{\"total_objects\":1},\"response\":[{\"alias1\":null,\"alias2\":null,\"alias3\":null,\"alias4\":null,\"aliases\":{},\"created\":1644967413,\"desktoptokens\":[],\"email\":\"austin.kelleher+duotest@jupiterone.com\",\"firstname\":null,\"groups\":[{\"desc\":\"test group\",\"group_id\":\"DGYM32D735SEKRC8X7S5\",\"mobile_otp_enabled\":false,\"name\":\"testJ1Group\",\"push_enabled\":false,\"sms_enabled\":false,\"status\":\"Bypass\"}],\"is_enrolled\":true,\"last_directory_sync\":null,\"last_login\":null,\"lastname\":null,\"notes\":\"Hello notes!\",\"phones\":[{\"activated\":true,\"capabilities\":[\"auto\",\"push\",\"sms\",\"mobile_otp\"],\"encrypted\":\"Encrypted\",\"extension\":\"\",\"fingerprint\":\"Configured\",\"last_seen\":\"2022-02-17T16:42:38\",\"model\":\"Google Pixel 5\",\"name\":\"\",\"number\":\"+15555555555\",\"phone_id\":\"DPB9DRDAI6PONK6CVHKC\",\"platform\":\"Google Android\",\"screenlock\":\"Locked\",\"sms_passcodes_sent\":false,\"tampered\":\"Not tampered\",\"type\":\"Mobile\"}],\"realname\":\"Austin Kelleher Test\",\"status\":\"active\",\"tokens\":[],\"u2ftokens\":[],\"user_id\":\"DUNWSZS0P50553CA4FAH\",\"username\":\"austinkellehertest\",\"webauthncredentials\":[]}],\"stat\":\"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"e3b1dbc5406b960e73800fc9c6c4e861428c4e0f\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 371,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
