{
  "log": {
    "_recordingName": "fetchUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "3f8ddd05ea66afc49f8ca91f85906643",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1109,
            "text": "{\"metadata\":{\"total_objects\":1},\"response\":[{\"alias1\":null,\"alias2\":null,\"alias3\":null,\"alias4\":null,\"created\":1587672033,\"desktoptokens\":[],\"email\":\"userone@example.com\",\"firstname\":null,\"groups\":[],\"is_enrolled\":true,\"last_directory_sync\":null,\"last_login\":null,\"lastname\":null,\"notes\":\"\",\"phones\":[{\"activated\":false,\"capabilities\":[\"sms\"],\"encrypted\":\"\",\"extension\":\"\",\"fingerprint\":\"\",\"last_seen\":\"\",\"model\":\"Unknown\",\"name\":\"User's iPhone\",\"number\":\"+15555555555\",\"phone_id\":\"DPTJY8KH6ESU14LQ5PAL\",\"platform\":\"Generic Smartphone\",\"screenlock\":\"\",\"sms_passcodes_sent\":false,\"tampered\":\"\",\"type\":\"Mobile\"}],\"realname\":\"User One\",\"status\":\"active\",\"tokens\":[{\"serial\":\"123abc\",\"token_id\":\"DH9K9HUHLNXCP2E4Z0O9\",\"totp_step\":null,\"type\":\"h6\"}],\"u2ftokens\":[],\"user_id\":\"DUHBVLNGTNJFT6W6O5F0\",\"username\":\"userone\",\"webauthncredentials\":[]}],\"stat\":\"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"cb91914f5b0e02547cd85844d4e467d87a28b511\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 468,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
