{
  "log": {
    "_recordingName": "fetchIntegrations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "b0666e9f6a9a4cf447ba3baf8e7a44c0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-be7ff7c0.duosecurity.com/admin/v1/integrations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1305,
            "text": "{\"metadata\":{\"total_objects\":3},\"response\":[{\"adminapi_admins\":0,\"adminapi_info\":0,\"adminapi_integrations\":0,\"adminapi_read_log\":0,\"adminapi_read_resource\":0,\"adminapi_settings\":0,\"adminapi_write_resource\":0,\"enroll_policy\":\"enroll\",\"groups_allowed\":[\"DGE3JIVHJC6Z4X9SO0A5\"],\"integration_key\":\"DIE5GYWT5GLS64A6X6K9\",\"ip_whitelist\":[],\"ip_whitelist_enroll_policy\":\"enforce\",\"missing_web_referer_policy\":\"deny\",\"name\":\"G Suite - Duo Access Gateway\",\"notes\":\"\",\"secret_key\":\"[REDACTED]\",\"self_service_allowed\":false,\"trusted_device_days\":0,\"type\":\"aggoogle\",\"username_normalization_policy\":\"Simple\",\"visual_style\":\"default\",\"web_referers_enabled\":0},{\"adminapi_admins\":0,\"adminapi_info\":0,\"adminapi_integrations\":0,\"adminapi_read_log\":0,\"adminapi_read_resource\":0,\"adminapi_settings\":0,\"adminapi_write_resource\":0,\"enroll_policy\":\"enroll\",\"groups_allowed\":[],\"integration_key\":\"DIA63AQCS4JF622101H9\",\"name\":\"macOS\",\"notes\":\"\",\"secret_key\":\"[REDACTED]\",\"type\":\"macos\",\"username_normalization_policy\":\"None\",\"visual_style\":\"default\"},{\"adminapi_admins\":1,\"adminapi_info\":1,\"adminapi_integrations\":1,\"adminapi_read_log\":0,\"adminapi_read_resource\":1,\"adminapi_settings\":1,\"adminapi_write_resource\":0,\"enroll_policy\":\"\",\"groups_allowed\":[],\"integration_key\":\"DITD1J4BEQ9MU3M1KMHO\",\"name\":\"Admin API\",\"notes\":\"\",\"secret_key\":\"[REDACTED]\",\"type\":\"adminapi\",\"username_normalization_policy\":\"None\",\"visual_style\":\"default\"}],\"stat\":\"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"dd5a7d3297a8d9ec1d460719a4f8e6806d1661dd\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 560,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
