{
  "log": {
    "_recordingName": "fetchIntegrations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "f99b023e996594ca1237306bd13067ea",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api-be7ff7c0.duosecurity.com/admin/v1/integrations?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 715,
            "text": "{\"metadata\":{\"total_objects\":1},\"response\":[{\"adminapi_admins\":1,\"adminapi_info\":0,\"adminapi_integrations\":0,\"adminapi_read_log\":0,\"adminapi_read_resource\":1,\"adminapi_settings\":1,\"adminapi_write_resource\":0,\"enroll_policy\":\"\",\"groups_allowed\":[],\"integration_key\":\"DIVO3IQ5DFXJZNVM95WY\",\"name\":\"Admin API\",\"networks_for_api_access\":\"\",\"notes\":\"\",\"secret_key\":\"[REDACTED]\",\"self_service_allowed\":false,\"type\":\"adminapi\",\"username_normalization_policy\":\"None\",\"visual_style\":\"default\"}],\"stat\":\"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"11a9e9cc33e5bee3cd811322cee4ee7b93fa4199\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 329,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
