{
  "log": {
    "_recordingName": "validateInvocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "4c0c67cace8d62bc1c7c91b79b9c3128",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/settings?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 987,
            "text": "{\"response\":{\"enrollment_module\":\"new\",\"fraud_email\":\"\",\"fraud_email_enabled\":true,\"helpdesk_bypass\":\"allow\",\"helpdesk_bypass_expiration\":0,\"helpdesk_can_send_enroll_email\":false,\"helpdesk_message\":\"\",\"inactive_admin_expiration\":0,\"inactive_user_expiration\":0,\"instant_restore_enabled\":1,\"language\":\"EN\",\"lockout_expire_duration\":null,\"lockout_threshold\":10,\"log_retention_days\":null,\"minimum_password_length\":12,\"mobile_analytics_disabled\":0,\"mobile_otp_enabled\":false,\"name\":\"JupiterOne Inc\",\"password_requires_lower_alpha\":false,\"password_requires_numeric\":false,\"password_requires_special\":false,\"password_requires_upper_alpha\":false,\"push_enabled\":false,\"reactivation_integration_key\":null,\"reactivation_url\":\"\",\"req_fips_passcodes_android\":false,\"security_checkup_enabled\":1,\"sms_batch\":1,\"sms_enabled\":false,\"sms_expiration\":0,\"sms_message\":\"SMS passcodes\",\"sms_refresh\":0,\"telephony_warning_min\":0,\"timezone\":\"UTC\",\"user_telephony_cost_max\":20},\"stat\":\"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"cde2b81294e3f5c3ca0149e386188ba56202f8d0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 365,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
