{
  "log": {
    "_recordingName": "fetchPhones",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "1a6fa5585712e233b3ec10032a7fc6c7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/phones?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1081,
            "text": "{\"metadata\":{\"total_objects\":1},\"response\":[{\"activated\":true,\"capabilities\":[\"auto\",\"push\",\"sms\",\"mobile_otp\"],\"encrypted\":\"Encrypted\",\"extension\":\"\",\"fingerprint\":\"Configured\",\"last_seen\":\"2022-02-17T16:42:38\",\"model\":\"Google Pixel 5\",\"name\":\"\",\"number\":\"+15555555555\",\"phone_id\":\"DPB9DRDAI6PONK6CVHKC\",\"platform\":\"Google Android\",\"screenlock\":\"Locked\",\"sms_passcodes_sent\":false,\"tampered\":\"Not tampered\",\"type\":\"Mobile\",\"users\":[{\"alias1\":null,\"alias2\":null,\"alias3\":null,\"alias4\":null,\"aliases\":{},\"created\":1644967413,\"email\":\"austin.kelleher+duotest@jupiterone.com\",\"firstname\":null,\"is_enrolled\":false,\"last_directory_sync\":null,\"last_login\":null,\"lastname\":null,\"notes\":\"Hello notes!\",\"realname\":\"Austin Kelleher Test\",\"status\":\"active\",\"user_id\":\"DUNWSZS0P50553CA4FAH\",\"username\":\"austinkellehertest\"}]}],\"stat\":\"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"cc5b7d03fa0e4ff31af1d29debfaeca8283715cb\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 392,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
