{
  "log": {
    "_recordingName": "fetchPhones",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "98a2bcc44fd00e242f1488dfb4d832e3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-56cd46b9.duosecurity.com/admin/v1/phones"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1045,
            "text": "{\"metadata\":{\"total_objects\":1},\"response\":[{\"activated\":true,\"capabilities\":[\"auto\",\"push\",\"sms\",\"mobile_otp\"],\"encrypted\":\"Encrypted\",\"extension\":\"\",\"fingerprint\":\"Configured\",\"last_seen\":\"2020-09-18T18:30:21\",\"model\":\"Apple iPhone 8\",\"name\":\"nick-cell\",\"number\":\"+15555555555\",\"phone_id\":\"DPAWJXQKO6QSTQC2IQ5H\",\"platform\":\"Apple iOS\",\"screenlock\":\"Locked\",\"sms_passcodes_sent\":false,\"tampered\":\"Not tampered\",\"type\":\"Mobile\",\"users\":[{\"alias1\":null,\"alias2\":null,\"alias3\":null,\"alias4\":null,\"aliases\":{},\"created\":1600451072,\"email\":\"nick.dowmon@jupiterone.com\",\"firstname\":null,\"is_enrolled\":false,\"last_directory_sync\":null,\"last_login\":null,\"lastname\":null,\"notes\":\"\",\"realname\":\"Nick Dowmon\",\"status\":\"active\",\"user_id\":\"DUH1VYQG3RZ6UC6EC89I\",\"username\":\"nick.dowmon@jupiterone.com\"}]}],\"stat\":\"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"e01030fd2f9c44a529ea40dbcf87535bf622c3d8\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1055,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
